@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.app{
    width: 100vw;
    /* height: 100vh; */
}
.sliderMove{
    
    margin-top: 20px;
}

.slick-dots {
  margin-bottom: 55px;
  }
  
  .slick-arrow {
    z-index: 1; /* Ensure arrows are above other elements */
  }